* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 200px 1fr;
    height: 100vh;
}

.item1 {
    background: green;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}


.item2 {
    background: blue;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    
    
}

.item3 {
    background: red;
    grid-column: 2 / 3;
    grid-row: 2 / 3;   /
    
}

