* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 90%;
    height: 85vh;
    border: 2px solid rgb(15, 2, 2);
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
}

.header {
    height: 15%;
    border: 3px solid black;
    gap: 20px;
    border-radius: 10px;
}

.content {
    flex: 1;
    display: flex;
    gap: 20 px;
}

.left-box {
    width: 30%;
    border: 2px solid black;
    border-radius: 20px;
}


.right-box {
    width: 70%;
    border: 2px solid black;
    border-radius: 20px;
}