* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: black;
}

.logo {
    color: brown;
    font-size: 22px;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
}

.nav-btn {
    background: orangered;
    border: none;
    padding: 8px 18px;
    cursor: pointer;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 80px;
    background: #111;
    color: white;
}

.container-text{
    flex: 1;
}

.container-text h1{
    font-size: 42px;
    color: #ff6a00;
    margin-bottom: 20px;
}

.text {
    color: white;
}

.container-text p{
    font-size: 16px;
    margin-bottom: 25px;
}

.container-text button{
    padding: 12px 25px;
    background: #ff6a00;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.container-text button:hover{
    background: #e65c00;
}

.container-image{
    flex: 1;
    display: flex;
    justify-content: center;
}

.container-image img{
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.services {
    padding: 60px 8%;
    background: #111;
    color: white;
    text-align: center;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.service-box {
    width: 250px;
    padding: 30px;
    background: #1f1f1f;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 80px 20px;
    background: #111;
}

.about-image{
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img{
    width: 300px;
    border-radius: 10px;
}

.about-text{
    flex: 1;
    color: white;
}

.about-text h2{
    font-size: 32px;
    color: #ff6a00;
    margin-bottom: 20px;
}

.about-text p{
    line-height: 1.6;
    margin-bottom: 25px;
}

.about-text button{
    padding: 10px 20px;
    background: #ff6a00;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.about-text button:hover{
    background: #e65c00;
}

.portfolio{
    padding: 80px 20px;
    background: #111;
    text-align: center;
}

.portfolio h2{
    font-size: 32px;
    color: #ff6a00;
    margin-bottom: 50px;
}

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.portfolio-box{
    width: 350px;
    height: 200px;
    background: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-box:hover{
    transform: scale(1.05);
}

.portfolio-img{
    width: 100%;
    height: 100%;
}

.portfolio-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact{
    padding: 80px 20px;
    background: #0f0f0f;
    text-align: center;
}

.contact h2{
    font-size: 32px;
    margin-bottom: 40px;
    color: #ff6a00;
}

.contact form{
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact input,
.contact textarea{
    padding: 12px 15px;
    background: #1a1a1a;
    border: 1px solid #333;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

.contact input:focus,
.contact textarea:focus{
    border-color: #ff6a00;
}

.contact textarea{
    resize: none;
    height: 120px;
}

.contact .btn{
    padding: 12px;
    background: #ff6a00;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.contact .btn:hover{
    background: #e65c00;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 20px;
}