* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
}
.container {
    width: 90%;
    height: 90vh;
    border: 2px solid rgb(15, 2, 2);
    border-radius: 25px;
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
}

.header {
    height: 12%;
    border: 2px solid blue;
    gap: 20px;
    border-radius: 20px;
}

.main {
    flex: 1;
    display: flex;
    gap: 20 px;
    border-radius: 20px;
}

.left {
    width: 30%;
    border: 2px solid blue;
    border-radius: 20px;
}


.right {
    width: 70%;
    border: 2px solid blue;
    border-radius: 20px;
}

.footer {
    height: 12%;
    border: 2px solid blue;
    border-radius: 20px;
}