* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 90%;
    height: 80vh;
    border: 2px solid white;
    display: flex;
    
}

.inner-box {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.box {
    width: 30%;
    height: 80%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.small-box {
    width: 90%;
    height: 40%;
    border: 2px solid white;
    color: black;
}

.small-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}



