* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 90%;
    height: 75vh;
    border: 2px solid rgb(15, 2, 2);
    display: flex;
    padding: 20px;
    gap: 20px;
}

.left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right {
    width: 40%;
}

.box {
    border: 2px solid blue;
    border-radius: 20px;
}

.box3 {
    width: 40%;
    height: 90%;
}

.top {
    height: 45%;
}

.bottom {
    height: 55%;
}

.large {
    height: 100%;
}

